.md-padding
{
    padding:32px;
}
.md-margin
{
    margin:32px;
}
.md-padding-in
{
    padding:32px;
    box-sizing: border-box;
}
.ec-no-margin
{
  margin:0px;

}
.footer-margin
{
   
}
.card
{
   
  animation-duration: 0.3s;
  animation-name: aparecer-pop;
}
.card-custom-size
{
  min-height: 350px;
}
.card-testimonio
{
    max-height:250px;
    overflow-y:auto;
}
.card-control-panel
{
  min-height:150px;
}
@keyframes slidein {
  from {
    margin-bottom: 64px;
  }

  to {
    margin-bottom: 16px;

  }
}
@keyframes aparecer-pop {
  from {
    transform:scale(0);
  }

  to {
    transform:scale(1);
  }
}
.ir-arriba {
	display:none;
	background:rgba(255,152,0, 0.5);
	color:#fff;
	cursor:pointer;
}
.ir-arriba:hover{
  	background:rgba(255,152,0,1.0);
}
.ec-title
{
  margin-top:0px;
  margin-bottom:12px;
  padding-bottom:0px;
}
/* <------------------------ Barra de navegación movil ------------------------ */
.ec-search-row{ margin-bottom:0px; padding-bottom:0px;}
.ec-search-div{margin-bottom:0px; padding-bottom:0px;}
.ec-search-icon{cursor:pointer; position:absolute; right:10px; top:8px;
  padding:2%;
  box-sizing: border-box;
}
.ec-search-icon:hover{
  background-color:rgba(245,245,245,1);
  
}

/* ------------------------ Barra de navegación movil ------------------------/> */
@media only screen and (min-width: 500px) 
{
  .container-landingpage
  {
    min-height:500px;
  }
}
  img.nav-img-profile
  {
    width:32px; height:32px;margin-top:16px;border-radius:50%;
  }
/* SMARTPHONES LANDSCAPE 
Aumenta el ancho de la tarjeta en modo móvil, 
se cometarizó en lo que se revisa la utilidad del código
*/
@media only screen and (max-width: 480px) 
{
  nav, nav .sidenav-trigger i, nav .sidenav-trigger #imgProfile
  {
    line-height: 32px;
  }
 img.nav-img-profile
  {
    margin-top:0px;
  }
  
    .container
    {
        width:100%;
        margin:0px;
        padding:12px;
    }
    .card-panel
    {
        padding:0px;
        margin:0px;
        width:100%;
    }
    .card-row-custom-size
    {
        margin:0px;
        padding:0px;
        width:100%;
    }
    .card-custom-size{
        margin:0px;
        padding:0px;
        margin-top:8px;
       
    }
}
